- const title = 'blog'
-
    const blogs = [
        'assets/img/blog/1.png',
        'assets/img/blog/2.png',
        'assets/img/blog/3.png',
        'assets/img/blog/1.png',
        'assets/img/blog/2.png',
        'assets/img/blog/3.png',
    ]

-
    const products = [
        {
            title: 'მაგიდა',
            image: 'assets/img/products/1.png',
            quantity: 97,
            price: 655.25,
            pricerange: '500-700',
            discount: 43
        },
        {
            title: 'დეკორატიული თარო',
            image: 'assets/img/products/2.png',
            quantity: 14,
            price: 423.00,
            pricerange: '500-700'
        },
        {
            title: 'ბავშვის კუთხე',
            image: 'assets/img/products/3.png',
            quantity: 27,
            price: 898.91,
            pricerange: '500-700'
        },
        {
            title: 'ტელევიზორის სადგამი',
            image: 'assets/img/products/4.png',
            quantity: 125,
            price: 114.42,
            pricerange: '500-700'
        },
        {
            title: 'დეკორატიული თარო 2',
            image: 'assets/img/products/5.png',
            quantity: 167,
            price: 714.10,
            pricerange: '500-700'
        },
                {
            title: 'მაგიდა',
            image: 'assets/img/products/1.png',
            quantity: 97,
            price: 655.25,
            pricerange: '500-700'
        },
        {
            title: 'დეკორატიული თარო',
            image: 'assets/img/products/2.png',
            quantity: 14,
            price: 423.00,
            pricerange: '500-700'
        },
        {
            title: 'ბავშვის კუთხე',
            image: 'assets/img/products/3.png',
            quantity: 27,
            price: 898.91,
            pricerange: '500-700'
        }
    ]

doctype html
html(lang="en")
    head
        include ../layouts/_head
    body
        include ../layouts/_header
        main
            article.blogarticle.container.pagearticle
                .blogarticle__content
                    .blogarticle__cover
                        img(src="assets/img/blog/1.png", alt="")
                    h1.blogarticle__title MEC - ახალი სიტყვა ქართულ ბაზარზე ინოვაციური პროდუქციით
                    time.blogarticle__time 20.09.2021
                    .blogarticle__textbox
                        p ცნობილი ფაქტია, რომ გვერდის წაკითხვად შიგთავსს შეუძლია მკითხველის ყურადღება მიიზიდოს და დიზაინის აღქმაში ხელი შეუშალოს. Lorem Ipsum-ის გამოყენებით ვღებულობთ იმაზე მეტ-ნაკლებად სწორი გადანაწილების ტექსტს, ვიდრე ერთიდაიგივე გამეორებადი სიტყვებია ხოლმე. შედეგად, ტექსტი ჩვეულებრივ ინგლისურს გავს, მისი წაითხვა კი შეუძლებელია. დღეს უამრავი პერსონალური საგამომცემლო პროგრამა და ვებგვერდი იყენებს Lorem Ipsum-ს, როგორც დროებით ტექსტს წყობის შესავსებად; Lorem Ipsum-ის მოძებნისას კი საძიებო სისტემები ბევრ დაუსრულებელ გვერდს გვიჩვენებენ. წლების მანძილზე ამ ტექსტის უამრავი ვერსია გამოჩნდა, ზოგი შემთხვევით დაშვებული შეცდომის გამო, ზოგი კი — განზრახ, ხუმრობით.
                        p ცნობილი ფაქტია, რომ გვერდის წაკითხვად შიგთავსს შეუძლია მკითხველის ყურადღება მიიზიდოს და დიზაინის აღქმაში ხელი შეუშალოს. Lorem Ipsum-ის გამოყენებით ვღებულობთ იმაზე მეტ-ნაკლებად სწორი გადანაწილების ტექსტს, ვიდრე ერთიდაიგივე გამეორებადი სიტყვებია ხოლმე. შედეგად, ტექსტი ჩვეულებრივ ინგლისურს გავს, მისი წაითხვა კი შეუძლებელია.
            
            
            section.section.homeblog
                .section__header.container
                    h6.section__title ასევე დაგაინტერსებთ
                    .homeblog__slider__nav
                        .homeblog__slider__nav__left
                        .homeblog__slider__nav__right
                .homeblog__slider
                    .homeblog__slider__container.swiper-container
                        .homeblog__slider__wrapper.swiper-wrapper
                            for blogimg, i in blogs
                                .homeblog__slider__slide.swiper-slide
                                    .homeblog__slider__slide__imgbox
                                        img(src=blogimg, alt=(i+1) + 'image')
                                    h3.homeblog__slider__slide__title=(i+1) + ' MEC - ახალი სიტყვა ქართულ ბაზარზე ინოვაციური პროდუქციით'
                                    p.homeblog__slider__slide__description= (i+1) + ' ცნობილი ფაქტია, რომ გვერდის წაკითხვად შიგთავსს შეუძლია მკითხველის ყურადღება მიიზიდოს და დიზაინის აღქმაში ხელი შეუშალოს.'
                                    a.homeblog__slider__slide__link.btn(href="blog.html") კითხვის გაგრძელება
                        
        section.section.homecategory.alsointeresting
            .section__header.container
                h6.section__title პროდუქცია
                .homecategory__slider__nav
                    .homecategory__slider__nav__left
                    .homecategory__slider__nav__right
            .homecategory__slider
                .homecategory__slider__container.swiper-container
                    .homecategory__slider__wrapper.swiper-wrapper
                        each product, i in products
                            .newproducts__list__item.swiper-slide
                                a.newproducts__list__item__imgbox(href="product.html") 
                                    img(src=product.image, alt=product.title)
                                h3.newproducts__list__item__title=product.title
                                p.newproducts__list__item__price
                                    if product.discount
                                        span.discount=product.discount + ' ₾'
                                    span=product.pricerange + ' ₾'
                                a.newproducts__list__item__link.btn(href="product.html") ნახე პროდუქტი
  
        include ../layouts/_footer
        include ../layouts/_scripts