- const title = 'home'
-
    const slides = [
        'assets/img/heroslider/1.png',
        'assets/img/heroslider/2.png',
        'assets/img/heroslider/3.jpg',
        //- 'assets/img/heroslider/4.jpg',
    ]
-
    const products = [
        {
            title: 'მაგიდა',
            image: 'assets/img/1.png',
            quantity: 97,
            price: 655.25,
            pricerange: '500-700',
            discount: 43
        },
        {
            title: 'დეკორატიული თარო',
            image: 'assets/img/2.png',
            quantity: 14,
            price: 423.00,
            pricerange: '500-700'
        },
        {
            title: 'ბავშვის კუთხე',
            image: 'assets/img/products/3.png',
            quantity: 27,
            price: 898.91,
            pricerange: '500-700'
        },
        {
            title: 'ტელევიზორის სადგამი',
            image: 'assets/img/products/4.png',
            quantity: 125,
            price: 114.42,
            pricerange: '500-700'
        },
        {
            title: 'დეკორატიული თარო 2',
            image: 'assets/img/products/5.png',
            quantity: 167,
            price: 714.10,
            pricerange: '500-700'
        },
                {
            title: 'მაგიდა',
            image: 'assets/img/products/1.png',
            quantity: 97,
            price: 655.25,
            pricerange: '500-700'
        },
        {
            title: 'დეკორატიული თარო',
            image: 'assets/img/products/2.png',
            quantity: 14,
            price: 423.00,
            pricerange: '500-700'
        },
        {
            title: 'ბავშვის კუთხე',
            image: 'assets/img/products/3.png',
            quantity: 27,
            price: 898.91,
            pricerange: '500-700'
        }
    ]

-
    const blogs = [
        'assets/img/blog/1.png',
        'assets/img/blog/2.png',
        'assets/img/blog/3.png',
        'assets/img/blog/1.png',
        'assets/img/blog/2.png',
    ]

doctype html
html(lang="en")
    head
        include ../layouts/_head
    body
        include ../layouts/_header
        main
            .hero.container
                .hero__slider
                    .hero__slider__container.swiper-container
                        .hero__slider__wrapper.swiper-wrapper
                            each slide, i in slides
                                .hero__slider__slide.swiper-slide
                                    img(src=slide, alt="")
                        .hero__slider__nav__left
                            span
                                include ../components/slider-left
                        .hero__slider__nav__right
                            span
                                include ../components/slider-right
                        .hero__slider__pagination
            .hero__text.container
                h1.hero__text__title
                    strong MEC
                    |  გთავაზობთ 
                    span მინიმალისტურ,
                    |  
                    span ელეგანტურ
                    |  და 
                    span კომფორტულ
                    |  ავეჯს
                a.hero__seeall.btn(href="products.html") პროდუქციის ნახვა
            section.section.homecategory
                .section__header.container
                    h6.section__title მოძებნე პროდუქტი კატეგორიით
                    .homecategory__slider__nav
                        .homecategory__slider__nav__left
                        .homecategory__slider__nav__right
                .homecategory__slider
                    .homecategory__slider__container.swiper-container
                        .homecategory__slider__wrapper.swiper-wrapper
                            each product, i in products
                                a.homecategory__slider__slide.swiper-slide(href="product.html")
                                    .homecategory__slider__slide__imgbox
                                        img(src=product.image, alt=product.title)
                                    h2.homecategory__slider__slide__title
                                        span=product.title
                                    p.homecategory__slider__slide__qty=product.quantity + ' პროდუქტი'
            article.section.homearticle.container
                .homearticle__grid
                    .homearticle__grid__left
                        h6.section__title
                            | ხარ 
                            strong ავეჯის დიზაინერი
                            |  და გსურს 
                            strong დამატებითი შემოსავალი
                        .homearticle__grid__left__textbox.default-ul
                            p ცნობილი ფაქტია, რომ გვერდის წაკითხვად შიგთავსს შეუძლია მკითხველის ყურადღება მიიზიდოს და დიზაინის აღქმაში ხელი შეუშალოს. Lorem Ipsum-ის გამოყენებით ვღებულობთ იმაზე მეტ-ნაკლებად სწორი გადანაწილების ტექსტს
                            p ვიდრე ერთიდაიგივე გამეორებადი სიტყვებია ხოლმე. შედეგად, ტექსტი ჩვეულებრივ ინგლისურს გავს, მისი წაითხვა კი შეუძლებელია. დღეს უამრავი პერსონალური საგამომცემლო პროგრამა და ვებგვერდი იყენებს Lorem Ipsum-ს, როგორც დროებით ტექსტს წყობის შესავსებად; Lorem Ipsum-ის მოძებნისას კი საძიებო სისტემები ბევრ დაუსრულებელ გვერდს გვიჩვენებენ. წლების მანძილზე ამ ტექსტის უამრავი ვერსია გამოჩნდა, ზოგი შემთხვევით დაშვებული შეცდომის გამო, ზოგი კი — განზრახ, ხუმრობით.
                        .homearticle__grid__left__links
                            a.btn(href="register.html") რეგისტრაცია
                            a.linkbtn(href="rules.html") გაიგე მეტი ამის შესახებ
                    .homearticle__grid__right

            section.section.weekoffer
                .section__header.container
                    h6.section__title კვირის შემოთავაზება
                .weekoffer__combiner
                    .weekoffer__slider
                        .weekoffer__slider__container.swiper-container
                            .weekoffer__slider__wrapper.swiper-wrapper
                                each product, i in products
                                    .weekoffer__slider__slide.swiper-slide
                                        .weekoffer__slider__slide__imgbox
                                            img(src=product.image, alt=product.title)
                                        h3.weekoffer__slider__slide__title=product.title
                                        p.weekoffer__slider__slide__price=product.price + ' ₾'
                                        a.weekoffer__slider__slide__link.btn(href="product.html") ნახე პროდუქტი
                            .weekoffer__slider__nav__left
                            .weekoffer__slider__nav__right
                    .weekoffer__cover
                        .after(style="background-image: url('assets/img/heroslider/2.png')")
            section.section.newproducts
                .section__header.container
                    h6.section__title ახალი პროდუქცია
                    
                ul.newproducts__list
                    each product, i in products
                        li.newproducts__list__item
                            .newproducts__list__item__imgbox
                                img(src=product.image, alt=product.title)
                            h3.newproducts__list__item__title=product.title
                            p.newproducts__list__item__price
                                if product.discount
                                    span.discount=product.discount + ' ₾'
                                span=product.pricerange + ' ₾'
                            a.newproducts__list__item__link.btn(href="product.html") ნახე პროდუქტი

            section.section.homeblog
                .section__header.container
                    h6.section__title ბლოგი
                    .homeblog__slider__nav
                        .homeblog__slider__nav__left
                        .homeblog__slider__nav__right
                .homeblog__slider
                    .homeblog__slider__container.swiper-container
                        .homeblog__slider__wrapper.swiper-wrapper
                            for blogimg, i in blogs
                                .homeblog__slider__slide.swiper-slide
                                    .homeblog__slider__slide__imgbox
                                        img(src=blogimg, alt=(i+1) + 'image')
                                    h3.homeblog__slider__slide__title=(i+1) + ' MEC - ახალი სიტყვა ქართულ ბაზარზე ინოვაციური პროდუქციით'
                                    p.homeblog__slider__slide__description= (i+1) + ' ცნობილი ფაქტია, რომ გვერდის წაკითხვად შიგთავსს შეუძლია მკითხველის ყურადღება მიიზიდოს და დიზაინის აღქმაში ხელი შეუშალოს.'
                                    a.homeblog__slider__slide__link.btn(href="blog.html") კითხვის გაგრძელება
            article.homeabout
                .homeabout__content
                    .homeabout__textbox
                        p ცნობილი ფაქტია, რომ გვერდის წაკითხვად შიგთავსს შეუძლია მკითხველის ყურადღება მიიზიდოს და დიზაინის აღქმაში ხელი შეუშალოს.
                        p Lorem Ipsum-ის გამოყენებით ვღებულობთ იმაზე მეტ-ნაკლებად სწორი გადანაწილების ტექსტს, ვიდრე ერთიდაიგივე გამეორებადი სიტყვებია ხოლმე. შედეგად, ტექსტი ჩვეულებრივ ინგლისურს გავს, მისი წაითხვა კი შეუძლებელია.
                    a.homeabout__link.btn(href="about.html") გაიგე მეტი ჩვენზე
                h4.homeabout__title ჩვენ შესახებ

        include ../layouts/_footer
        include ../layouts/_scripts