- const title = 'product'
-
    const slides = [
        'assets/img/products/1.png',
        'assets/img/products/2.png',
        'assets/img/products/5.png',
        'assets/img/products/4.png'
    ]

-
    const productInfo = {
        title: 'კომპიუტერის მაგიდა',
        code: '#00423',
        sizes: [
            '140 x 22 cm',
            '180 x 42 cm',
            '220 x 82 cm',
        ],
        colors: [
            'darkred',
            'darkblue',
            'orange',
        ],
        price: 750.00,
    }

-
    const products = [
        {
            title: 'მაგიდა',
            image: 'assets/img/products/1.png',
            quantity: 97,
            price: 655.25,
            pricerange: '500-700',
            discount: 43
        },
        {
            title: 'დეკორატიული თარო',
            image: 'assets/img/products/2.png',
            quantity: 14,
            price: 423.00,
            pricerange: '500-700'
        },
        {
            title: 'ბავშვის კუთხე',
            image: 'assets/img/products/3.png',
            quantity: 27,
            price: 898.91,
            pricerange: '500-700'
        },
        {
            title: 'ტელევიზორის სადგამი',
            image: 'assets/img/products/4.png',
            quantity: 125,
            price: 114.42,
            pricerange: '500-700'
        },
        {
            title: 'დეკორატიული თარო 2',
            image: 'assets/img/products/5.png',
            quantity: 167,
            price: 714.10,
            pricerange: '500-700'
        },
                {
            title: 'მაგიდა',
            image: 'assets/img/products/1.png',
            quantity: 97,
            price: 655.25,
            pricerange: '500-700'
        },
        {
            title: 'დეკორატიული თარო',
            image: 'assets/img/products/2.png',
            quantity: 14,
            price: 423.00,
            pricerange: '500-700'
        },
        {
            title: 'ბავშვის კუთხე',
            image: 'assets/img/products/3.png',
            quantity: 27,
            price: 898.91,
            pricerange: '500-700'
        }
    ]
doctype html
html(lang="en")
    head
        include ../layouts/_head
    body
        include ../layouts/_header
        main.productpage.container
            .productpage__hero
                .productpage__slider
                    .productpage__slider__container.swiper-container
                        .productpage__slider__wrapper.swiper-wrapper
                            each slide, i in slides
                                .productpage__slider__slide.swiper-slide
                                    img(src=slide, alt="")
                    .productpage__slider__pagination
                .productpage__info
                    .productpage__info__top
                        h1.productpage__info__title=productInfo.title
                        p.productpage__info__code=productInfo.code
                        .ns
                            select(name="size")
                                each option, i in productInfo.sizes
                                    option(value=i+1, selected=(i === 0 && true))=option
                            ul.ns__ul
                        .ns
                            select(name="colors")
                                each option, i in productInfo.colors
                                    option(value=i+1, selected=(i === 0 && true))=option
                            ul.ns__ul
                    .productpage__info__bottom
                        p.productpage__info__price=productInfo.price + ' ₾'
                        .productpage__info__link.btnreverse(href="#") შეგვიკვეთე ახლავე 
            .productpage__details
                .productpage__details__each
                    h2.productpage__details__each__heading პროდუქტის დეტალები
                    .productpage__details__each__textbox.default-ul
                        p ცნობილი ფაქტია, რომ გვერდის წაკითხვად შიგთავსს შეუძლია მკითხველის ყურადღება მიიზიდოს და დიზაინის აღქმაში ხელი შეუშალოს. Lorem Ipsum-ის გამოყენებით ვღებულობთ იმაზე მეტ-ნაკლებად სწორი გადანაწილების ტექსტს, ვიდრე ერთიდაიგივე გამეორებადი სიტყვებია ხოლმე. შედეგად, ტექსტი ჩვეულებრივ ინგლისურს გავს, მისი წაითხვა კი შეუძლებელია.
                        ul
                            li ლისტ ერთი
                            li ლისტ ორი
                            li ლისტ სამი
                .productpage__details__each
                    h2.productpage__details__each__heading მატერიალები
                    .productpage__details__each__textbox.default-ul
                        p ცნობილი ფაქტია, რომ გვერდის წაკითხვად შიგთავსს შეუძლია მკითხველის ყურადღება მიიზიდოს და დიზაინის აღქმაში ხელი შეუშალოს. Lorem Ipsum-ის გამოყენებით ვღებულობთ იმაზე მეტ-ნაკლებად სწორი გადანაწილების ტექსტს, ვიდრე ერთიდაიგივე გამეორებადი სიტყვებია ხოლმე. შედეგად, ტექსტი ჩვეულებრივ ინგლისურს გავს, მისი წაითხვა კი შეუძლებელია.
                        ul
                            li ლისტ ერთი
                            li ლისტ ორი
                            li ლისტ სამი
                .productpage__details__each
                    h2.productpage__details__each__heading დამზადების პროცესი
                    .productpage__details__each__textbox.default-ul
                        p ცნობილი ფაქტია, რომ გვერდის წაკითხვად შიგთავსს შეუძლია მკითხველის ყურადღება მიიზიდოს და დიზაინის აღქმაში ხელი შეუშალოს. Lorem Ipsum-ის გამოყენებით ვღებულობთ იმაზე მეტ-ნაკლებად სწორი გადანაწილების ტექსტს, ვიდრე ერთიდაიგივე გამეორებადი სიტყვებია ხოლმე. შედეგად, ტექსტი ჩვეულებრივ ინგლისურს გავს, მისი წაითხვა კი შეუძლებელია.
                        ul
                            li ლისტ ერთი
                            li ლისტ ორი
                            li ლისტ სამი
                .productpage__details__each
                    h2.productpage__details__each__heading მიტანის სერვისი
                    .productpage__details__each__textbox.default-ul
                        p ცნობილი ფაქტია, რომ გვერდის წაკითხვად შიგთავსს შეუძლია მკითხველის ყურადღება მიიზიდოს და დიზაინის აღქმაში ხელი შეუშალოს. Lorem Ipsum-ის გამოყენებით ვღებულობთ იმაზე მეტ-ნაკლებად სწორი გადანაწილების ტექსტს, ვიდრე ერთიდაიგივე გამეორებადი სიტყვებია ხოლმე. შედეგად, ტექსტი ჩვეულებრივ ინგლისურს გავს, მისი წაითხვა კი შეუძლებელია.
                        ul
                            li ლისტ ერთი
                            li ლისტ ორი
                            li ლისტ სამი

        section.section.homecategory.alsointeresting
            .section__header.container
                h6.section__title ასევე დაგაინტერსებთ
                .homecategory__slider__nav
                    .homecategory__slider__nav__left
                    .homecategory__slider__nav__right
            .homecategory__slider
                .homecategory__slider__container.swiper-container
                    .homecategory__slider__wrapper.swiper-wrapper
                        each product, i in products
                            .newproducts__list__item.swiper-slide
                                .newproducts__list__item__imgbox
                                    img(src=product.image, alt=product.title)
                                h3.newproducts__list__item__title=product.title
                                p.newproducts__list__item__price
                                    if product.discount
                                        span.discount=product.discount + ' ₾'
                                    span=product.pricerange + ' ₾'
                                a.newproducts__list__item__link.btn(href="product.html") ნახე პროდუქტი
        .ordermodal__bg
        form.ordermodal(action="/order")
            .ordermodal__X
            h6.ordermodal__title შეკვეთა
            .ordermodal__inputs
                input#orderfirstname.input-div(type="text", name="first_name", placeholder="სახელი")

                input#orderlastname.input-div(type="text", name="last_name", placeholder="გვარი")

                input#orderemail.input-div(type="text", name="email", placeholder="example@gmail.com")
                
                input#ordertel.input-div(type="text", name="tel", placeholder="5********")
            button.ordermodal__submit.btnreverse(type="submit") შეგვიკვეთე 

        include ../layouts/_footer
        include ../layouts/_scripts